.navBar {
  color: rgb(129, 5, 5);
  background-color: rgb(199, 199, 199);
  margin-bottom: 1em;
  max-width: 100%;
  margin: auto;
}

.navHeading {
  text-align: center;
  margin: auto;
}

.navLinkFlex {
  display: flex;
  justify-content: center;
}

.navMobileMenu {
  display: block;
  background-color: antiquewhite;
  border-radius: 5px;
  position: absolute;
}

.navMobileButton {
  display: none;
}

.navMobileLinks {
  display: none;
}


@media screen and (max-width: 530px) {
 .navMobileButton {
  display: block;
 }

 .navMobileLinks {
  display: flex;
  flex-direction: column;
 }

 .navLinkFlex {
  display: none;
 }
}

.navItem {
  padding: 0.4em;
  margin: 0.2em;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: rgb(255, 110, 110);
  text-align: center;
  width: 7em;
}

.navItem:hover {
  background-color: chartreuse;
}
